
<script type="text/javascript">
removeDiv("headerWrapper");
</script>

<style type="text/css">
body{
	overflow:hidden;
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
	background: transparent url(/assets/gradient.png) repeat-x;
	text-align:center;
}
</style>

<div id="0" style="font-size:28px;font-family: 'Trebuchet MS','Arial', sans-serif;background-color:#ffffff;padding:50px;padding-top:150px;">
<b>One<font color="#4e7692">Doss</font><font color="#686868">ier</font></b>
<p style="font-size:13px;color:#686868 ;"><b>www.OneDoss.com</b></p>
</div>
<div><img src="/assets/line.png" width="100%" height="16px"></div>
<div id="2" style="padding:50px;">
<p style="font-size:15px;color:#686868 ;"><b><i></i></b></p>
<p style="font-family: 'Trebuchet MS','Arial', sans-serif;font-size:12px;margin-top:-10px;color:#4e7692;"><b>We're coming soon.</b></p>
</div>
