<center>
<h1>OneDoss</h1>

<table>
<tr>
<th>
  Sign Up
  <%= render 'users/form' %>
</th>
<th>
  Log In
  <%= render 'sessions/login' %>
</th>
</tr>
</table>
</center>
<%= link_to 'List of Users...For Development Purposes', users_path %>