
<script type="text/javascript">
document.getElementById("user_nav").innerHTML=""
</script>

<center>
<h1>OneDoss</h1>
<div id="outermostWrapper">
<div id="outerWrapper">
<div id="top">&nbsp</div>
<div id="innerWrapper">
<p>
Coming soon.  A site that lets you showcase your accomplishments alongside your resume.
</p>
</div>
<div id="bottom">&nbsp</div>
</div>
</div>
</center>
