body {
	background-color: #EEEEEE;
	text-align : left;
	min-width : 700px;
	font-size: 11px;
	color: #0F0F0F;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#userNav {
	float: right;
}

#header {
			background-color:#636363;
			padding:4px;
			padding-bottom:2px;
			border-bottom: solid 1px #000000;
			color: #ffffff;
			overflow:hidden;
			margin:0px;
		}

#headerBorder {
	padding:0px;
	margin:0px;
	border:0px;
	margin-top:-2px;
	margin-bottom:20px;
	line-height:0px;
}

img,p {
	border:0px;
	margin:0px;
	padding:0px;
}

a:link {
	color: #73a3a8;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #73a3a8;
}
a:hover {
	text-decoration: none;
    color: #00818F;
}
a:active {
	text-decoration: none;
	color: #73a3a8;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

.clear { clear: both; }

#outerWrapper {
	width: 700px;
	margin-left : auto ;
	margin-right : auto ;
	position : relative ;
	text-align: center;
}

#outermostWrapper {
	padding: 20px;
	padding-top: 0px;
}


/***** RESUME STYLES *****/
#resume_title {
	font-weight: bold;
	text-transform: capitalize;
}

#resume_name{
	font-weight:bold;
	font-size:18px;
	width:100%;
	border-bottom: 1px solid #000;
}

#resume_email {
	float:left;
}
#resume_address {
	float:right;
}
#resume_website {
	float:right;
}
#resume_phone {
	float:left;
}

#resume_portal { 	width: 800px;
					padding: 15px;
					padding-top: 10px;
					margin: 0 auto;
					margin-bottom: 5px;
					background-color:#fff;
					border: 1px solid #E0E0E0;
					float: left;
					min-height:100%; }
					
.resume_section{ 	width:100%; }
    
.section_name { 	width:100%;
					border-bottom: 1px solid #000; }
					
.section_item { 	margin: 20px 0 0 15px;}

.resume_dates { 	float:right; }

.bold { 	font-weight: 600; }

#linkFrame {
	padding-left: 0px;
	padding-top: 0px;
	overflow:hidden;
	height: 500px;
}

#linkArrowFrame {
	width:20px;
	float:left;
}

.linkArrow {
	float: right;
	padding: 5px;
}

/***** RESUME SORTABLE STYLES *******/
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
	
html>body #sortable li { height: 1.5em; line-height: 1.2em; }
	
.ui-state-highlight { height: 1.5em; line-height: 1.2em; background-color:#EEEEEE; }

.handle_item  {	height:10px;
		 		width:10px; 
		 		cursor:move; 
		 		display:inline-block;}
		 		
.handle_section{height:10px;
		 		width:9px;
		 		margin-right: 5px;
		 		cursor:move; 
		 		display:inline-block;}
		 		


.edit form  { 	display:inline-block; }


