body {
	background-color: #EEEEEE;
	text-align : left;
	min-width : 700px;
	font-size: 11px;
	color: #0F0F0F;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#header { 	height:67px;
			width:100%;
			background-color:#fff;
			padding:5px;
			border-bottom: solid 2px #85898a;
			margin-bottom:20px;
		}

img {
	border:0px;
}

a:link {
	color: #73a3a8;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #73a3a8;
}
a:hover {
	text-decoration: none;
        color: #aa9769;
}
a:active {
	text-decoration: none;
	color: #73a3a8;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

.clear { clear: both; }

#outerWrapper {
	width: 700px;
	margin-left : auto ;
	margin-right : auto ;
	position : relative ;
	text-align: center;
}

#outermostWrapper {
	text-align: center;
}

#top {
	width : 700px ; 
	height:23px;
	background: transparent url(top.png);
	margin-bottom:0px;
	z-index: 1;
}

#bottom {
	width : 700px ; 
	background: transparent url(bottom.png);
	height:20px;
       margin-top:0px;
}

#wrapper {
	background: transparent url(wrapper1.png) repeat scroll top left;
	width : 700px ;
	text-align : center ;
	margin-left : auto ;
	margin-right : auto ;
	position : relative ;
	font-size: 11.5px;
} 

/**** RESUME STYLES ******/

#resume_portal { 	width: 800px;
					padding:10px;
					margin: 0 auto;
					background-color:#fff; 
					border: 1px solid #E0E0E0}
					
.resume_section{ 	width:100%; }
    
.section_name { 	width:100%;
					border-bottom: 1px solid #000; }
					
.section_item { 	margin: 20px 0 0 15px;}

.resume_dates { 	float:right; }

.bold { 	font-weight: 600; }

/***** RESUME SORTABLE STYLES *******/
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
	html>body #sortable li { height: 1.5em; line-height: 1.2em; }
	.ui-state-highlight { height: 1.5em; line-height: 1.2em; background-color:#fff; }  



